/*cards*/
.card-inner{
    .box-shadow;
    .card-image{
      width: 100%;
      display: block;
      clear: both;
    }
    .card-title-section{
      padding: 20px;
      background-color: @white;
      span.card-title{
        color: @baseColor;
        font-size: 13pt;
        font-weight: 300;
      }
    }
}
/*Default Card*/
.card-general{
  .column;
  .col-6;
  .card-image{
    .bg-image-cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: inherit;
    background-image: url(../../../images/image-bg.svg);
    height: 250px;
  }
  .card-title-section{
    height: 60px;
  }
}
/* Event Cards */
.card-event{
  .column;
  .col-6;
  .card-image{
    .bg-image-cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: inherit;
    background-image: url(../../../images/image-bg.svg);
    height: 250px;
  }
  .card-date-section{
    width: 60px;
    height: 60px;
    color: @white;
    background-color: @baseColor;
    text-align: center;
    font-weight: 300;
    float: left;
    padding-top: 4px;
    span.card-date-num{
      display: block;
      font-size: 18pt;
      font-weight: 400;
    }
  }
  .card-title-section{
    height: 60px;
    margin-left: 60px;
  }
}
.card-tall{
  .column;
  .col-4;
  .card-image{
    .bg-image-cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: inherit;
    background-image: url(../../../images/image-bg.svg);
    height: 170px;
  }
  .card-title-section{
    padding-top:50px;
    height: 230px;
    p.card-preview-text{
      color: fade(@black, 30%);
      font-size: 10pt;
      position: relative;
      font-weight: 300;
    }
  }
}
/*Wide 50/50 Cards*/
.card-wide{
  .column;
  .col-6;
  min-height:100px;
  .card-wide-inner{
    .col-12;
    .box-shadow;
    display: inline-block;
    float: left;
    .card-wide-image{
      .col-6;
      .bg-image-cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: inherit;
      background-image: url(../../../images/image-bg.svg);
      display: inline-block;
      float: left;
      height:130px;
    }
    .card-wide-text{
      .col-6;
      font-weight: 300;
      font-size: 11pt;
      display: inline-block;
      float: left;
      height:130px;
      padding: 10px;
      background-color: @white;
      overflow: hidden;
    }
  }
}
/*Step Cards*/
.card-step{
  .column;
  .col-3;
  .card-step-arrow{
    min-height: 1px;
    overflow: hidden;
    padding:5px 10px;
    background-color: darken(@white, 15%);
    &:after{
      font-family: "FontAwesome";
      content:'\f178';
      font-size: 18pt;
      float:right;
      color: fade(@white, 55%);
      @media @mobile{
        content:'\f175';
        font-size: 13pt;
      }
    }
  }
  &:last-child{
    .card-step-arrow{
      &::after{
        //content:'\f11e';
        visibility: hidden;
      }
    }
  }
  .card-title-section{
    padding:10px;
    text-align: center;
  }
  .card-body-text{
    margin:0px;
    padding:15px;
    font-weight: 300;
    min-height:220px;
    @media @mobile{
      min-height:120px;
    }
  }
}
